dist/
MANIFEST
*.pypirc
pypirc
*.idea
flythings/__pycache__/
*.pyc
/venv/*
flythingsTest/simpleInsert.py
flythingsTest/SocketBatchTest.py
flythingsTest/ActionTest.py
flythingsTest/.foiCache
flythings.egg-info/dependency_links.txt
flythings.egg-info/PKG-INFO
flythingsTest/sliver
flythingsTest/foi.txt
flythingsTest/CustomTest.py
flythings.egg-info/requires.txt
flythingsTest/sliveractiontest.py
flythingsTest/requirements.txt
flythingsTest/cronTest.py
flythings.egg-info/top_level.txt
flythingsTest/sliver.service
flythingsTest/raspitest.py
flythings.egg-info/SOURCES.txt
flythingsTest/recordtest.py
flythingsTest/deploy
flythingsTest/RealTimeTest.py
flythingsTest/ActionTest2.py
